*.log
node_modules
coverage
docs
.vscode
.nyc_output/
wildfly-10.0.0.Final.zip
kie-server-distribution-6.5.0.Final.zip
*.war
bgold-kie-server.xml
test/fixtures/kjar/target/
wildfly-10.0.0.Final/
test/fixtures/kjar2/target/bgold-1.2.jar
test/fixtures/kjar2/target/maven-archiver/pom.properties