sudo: required
dist: trusty
language: node_js
node_js:
  - "4"
  - "6"
  - "8"
before_script:
   - npm install -g coveralls
   - ./scripts/start-server.sh
script:
   - make ci
after_script:
   - ./scripts/stop-server.sh
notifications:
  irc: "irc.freenode.org#brass-monkey"
branches:
  only:
    - master
after_success:
  - npm run coverage
  - cat ./coverage/lcov.info | coveralls